<div class="inventory-pages">
    <div class="enter-books">
        <div class="center-it"><h1>Add to the Stacks!</h1></div>
        <div class="row mtop-50 center-it">
            <div class="col-md-4">
                <button class="btn btn-success" id="just_one">Add One Book</button>
            </div>
            <div class="col-md-8">
                <button class="btn btn-warning" id="many_books">Add Multiple Books by Author</button>
            </div>
        </div>
        <div class="invisible mtop-50 row" id="one_book">
            <div class="col-md-6 col-md-offset-3 center-it">
                <%= render 'onebook' %>
            </div>
        </div>
        
        <%= render 'authorbooks.html.erb' %>
    </div>

    <div class="show-books mtop-50">
        <div class="center-it">
            <span class="pointy" id="show_books">Show Books?</span>
        </div>
        <div class="center-it">
            <span class="invisible pointy" id="hide_books">Hide Books?</span>
        </div>
        <div class="invisible" id="book_table">
            <table class="table">
                <tr>
                    <th>Title</th>
                    <th>Author</th>
                    <th>Color</th>
                    <th>Shelf</th>
                </tr>
                <% @books.each do |book| %>
                    <tr>
                        <td><%= book.title %></td>
                        <td><%= book.author %></td>
                        <td><%= book.color %></td>
                        <td><%= book.shelf.designation %></td>
                    </tr>
                <% end %>
            </table>
        </div>
    </div>
</div>

<script>
    $(document).ready(function(){
     $('#just_one').click(function(){
        $('#one_book').toggleClass('invisible');
        $('#books_by_author').addClass('invisible');
     });
     $('#many_books').click(function(){
        $('#books_by_author').toggleClass('invisible');
        $('#one_book').addClass('invisible');
     });
     $('#show_books').click(function(){
        $('#book_table').removeClass('invisible');
        $('#hide_books').removeClass('invisible');
        $(this).addClass('invisible');
     });
     $('#hide_books').click(function(){
        $('#book_table').addClass('invisible');
        $('#show_books').removeClass('invisible');
        $(this).addClass('invisible');
     });
    });
</script>